.container{
    padding: 6.5rem 37rem;
    /* display: grid;
    justify-content:center; */
}


table {
  border-collapse: collapse;
  border: 3px solid black;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
}


th,
td {
  border: 2px solid black;
  padding: 8px;
}
thead th {
  width: 25%;
}
thead {
  background-color: #ffd803;
  color: #272343;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.heading {
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans";
    font-size: xxx-large;
}
.rollnumber{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Josefin Sans";
}