.navLinks {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header1 {
  padding: 0;
  width: 100%;
  background-color: #e3f6f5;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 10%;
}

.logo {
  height: auto;
  padding: auto;
  color: #272343;
  font-size: x-large;
  font-weight: bold;
  font-family: "Josefin Sans";
  transform: translateX(-40px);
}

.links {
  color: #272343;
  font-weight: normal;
  font-size: large;
  height: auto;
  padding: 1%;
  margin: 0.5%;
  /* background-color: #ffd803; */
  font-family: "Josefin Sans";
  font-weight: bold;
}
