/* .mainrow{
  display:flex;
  /* justify-content: space-between;
  row-gap: 25%;
} */

.container {
  
  /* position: relative; */
  height: 80%;
  color: rgb(0, 0, 0);
  border-top: 1px solid black;
  position: relative;
}
.textContainer {
  padding: 2rem 4rem;
  /* background-color: #272343; */
  position: absolute;
  top: 20%;
  /* left: 40%; */
  width: 50rem;
  height: 35rem;
  /* background: #272343; */
  transform: translate(0%, 20%);
}
.head {
  font-size: 4rem;
  font-weight: 900;
  word-wrap: break-word;
  color: #272343;
  font-family: "Josefin Sans";
}

.text {
  margin: 2rem 0rem;
  font-style: oblique;
  font-size: 1.25rem;
  word-wrap: normal;
  color: #272343;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#button {
  background-color: #bae8e8;
  font-weight: 1000;
  color: #272343;
  padding: 1rem;
  /* margin: 0rem 0.5rem; */
  border: none;
  font-family: cursive;
}
.image {
  height: auto;
  width: 50%;

  transform: translateX(100%) translateY(15%);
}
