.container {
  position: relative;
  text-align: center;
  height: 80%;
  color: rgb(0, 0, 0);
}
.textContainer {
  border-color: blue;
  padding: 2rem;
  background-color: beige;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -25%);
}
.head {
    font-size: 2rem;
    font-weight: bold;
    word-wrap: break-word;
}

.text {
    font-style: oblique;
    font-size: 1rem;
    word-wrap: break-word;
}
